<!DOCTYPE html>
<html>
  <head>
    <Title><%= Title %></Title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Title %></h1>
    <p>Welcome to <%= Title %></p>
  </body>
</html>
